.tooltipContainer {
  display: inline-block;
  position: relative;
}

.tooltipContent {
  position: absolute;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  padding: 8px;
  font-size: 0.8rem;
  color: white;
  background: black;
  z-index: 999;
  white-space: nowrap;
}

.tooltipContent::before {
  content: ' ';
  position: absolute;
  left: 50%;
  margin-left: 6px;
  border: 1px solid transparent;
  border-width: 6px;
}

.tooltipContent.top {
  top: -40px;
}

.tooltipContent.top::before {
  top: 100%;
  border-top-color: black;
}

.tooltipContent.right {
  top: 50%;
  left: calc(100% + 40px);
  transform: translateX(0) translateY(-50%);
}

.tooltipContent.right::before {
  top: 50%;
  left: -18px;
  transform: translateX(0) translateY(-50%);
  border-right-color: black;
}

.tooltipContent.bottom {
  bottom: -40px;
}

.tooltipContent.bottom::before {
  bottom: 100%;
  border-bottom-color: black;
}

.tooltipContent.left {
  left: auto;
  top: 50%;
  right: calc(100% + 20px);
  transform: translateX(0) translateY(-50%);
}

.tooltipContent.left::before {
  left: auto;
  top: 50%;
  right: -12px;
  transform: translateX(0) translateY(-50%);
  border-left-color: black;
}
